* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --heliotrope: #e1b8e2;
  --vivid-sky-blue: #3c8cc2;
  --vivid-sky-blue-hover: #49a9e9;
  --icterine: #edeea9;
  --white: white;
  --bright-pink-crayola: #ff909f;
  --medium-grey: #3a3a3a;
  --bg-grey: white;

  --bg-color-hover: #f7f7f7;
  --border-color: #cecece;
}
